-if @not_sassion_created
  %h2 The cart is empty
-else
  -unless flash[:success].nil?
    .alert.alert-success(role='alert')
      = flash[:success]
  %table.table
    %tr
      %td Name
      %td Price
      %td Quantity
      -#%td Discount
      %td Total price
      %td Delete
      
    - @items.each do |t|
      %tr
        %td= link_to t[:name], product_path(:id =>t[:id])
        %td= t[:price]
        %td= t[:quantity] #проходимся  по массиву хэшей, поэтому вызываем их не как для класса (через .), а через ключ для хешей ([:key])
        -#%td= @cart.discount_product t[:id]
        %td= t[:price]*t[:quantity]
        -#*(@cart.discount_product t[:id])
        %td= link_to 'delete', deletecart_path(:id => t[:id]), method: :delete, data: { confirm: 'Are you sure?' }
  Grand total = #{@gtotal}

  %ul
    %li 
      = link_to 'Categories', magaz_categories_path
    %li 
      = link_to 'Products', magaz_products_path

    