<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your order is submitted, dude!</h1>
    <br>
    order number: <%= @order.order_number %>
    <br>
    total price: <%= @order.total %>
    
    
    <p>Thanks for attention, dude!</p>
  </body>
</html>